{% extends "backstage.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}


{% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <script>setTimeout(function() {
          alert('{{ message }}');
          window.location.href = '{{ url_for(manager.productManager) }}';
        }, 500);</script>
      {% endfor %}
  {% endif %}
{% endwith %}

<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>獎學金編號</th>
        <td><input class="form-control" type="text" value="{{ data.獎學金編號 }}" name="schid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>獎學金名稱</th>
        <td><input class="form-control" type="text" value="{{ data.獎學金名稱 }}" name="name" required></td>
      </tr>
      <tr>
        <th>獎學金等級</th>
        <td><input class="form-control" type="text" value="{{ data.獎學金等級 }}" name="rank" required></td>
      </tr>
      <tr>
        <th>獎學金頒發年分</th>
        <td><input class="form-control" type="text" value="{{ data.獎學金頒發年分 }}" name="year" required></td>
      </tr>
      <tr>
        <th>獎學金頒發單位</th>
        <td><input class="form-control" type="text" value="{{ data.獎學金頒發單位 }}" name="issuer" required></td>
      </tr>

    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger">回管理</button></a>
      </div>
    </center>

  </form>
</div>



{% endblock content%}