{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}您的獎學金申請{% endblock title%}

{% block content%}
<br/>

{% with messages = get_flashed_messages() %}
{% if messages %}
  
<script language="javascript">

  alert('您沒有管理員的權限喔！');

</script>

{% endif %}
{% endwith %}

<div class="book_table container-xxl">
  <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }
</style>

<table>
  <thead>
    <tr>
      <th>獎學金編號</th>
      <th>獎學金名稱</th>
      <th>獎學金等級</th>
      <th>獎學金頒發年分</th>
      <th>獎學金頒發單位</th>
      <th>獎學金狀態</th>
    </tr>
  </thead>
  <tbody>
    {% for scholarship in scholarships %}
    <tr>
      <td>{{ scholarship['id'] }}</td>
      <td>{{ scholarship['name'] }}</td>
      <td>{{ scholarship['rank'] }}</td>
      <td>{{ scholarship['year'] }}</td>
      <td>{{ scholarship['issuer'] }}</td>
      <!-- <td>
        {% if scholarship['status'] == 'TODO' %}
        <button>Apply</button>
        {% else %}
        {{ scholarship['status'] }}
        {% endif %}
      </td> -->
      <td>
        {% if scholarship['status'] == 'TODO' %}
        <form method='post' action={{ url_for("bookstore.apply") }} >
          <input type='hidden' name='scholarship_id' value='{{ scholarship['id'] }}'>
          <button type='submit'>Apply</button>
        </form>
        {% else %}
        {{ scholarship['status'] }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>




</div>

{% endblock content%}